<div class="content-section implementation">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 text-center">
        <p style="text-align:center; font-size: 90%">
          <a href="#" [routerLink]="['/Authentication/SignIn']">{{'SignIn' | globalizationdictionary}}</a> | <a href="#"
              [routerLink]="['/Authentication/SignUp']">{{'SignUp' | globalizationdictionary}}</a> | <a href="#"
              [routerLink]="['/Authentication/ForgotPassword']">{{'IForgotMyPassword' | globalizationdictionary}}</a>
      </p>
      </div>
    </div>
  </div>
</div>
