<p-toast [baseZIndex]="99999"></p-toast>
<div class="content-section introduction">
    <div>
        <span class="feature-title">{{'ContentManagement' | globalizationdictionary}}</span>
        <span>{{'Update' | globalizationdictionary}}</span>
    </div>
</div>
<div class="content-section implementation">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <p *ngIf="loading" style="text-align: center">
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <br>
        {{'PleaseWait' | globalizationdictionary}}
    </p>
    <form *ngIf="!loading" [formGroup]="userForm" class="userForm" (ngSubmit)="onSubmit()">
        <fieldset [disabled]="disabledFieldset">
            <legend>{{'Update' | globalizationdictionary}}</legend>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Content' | globalizationdictionary}} {{'Id' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="content" disabled="disabled" />
                    </div>
                </div>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-2 text-right bold">
                            {{'Category' | globalizationdictionary}}
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText type="text" formControlName="category" disabled="disabled" />
                        </div>
                    </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Language' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="language" disabled="disabled" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Code' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="code" />
                        <p-message severity="error"
                            [text]="userForm.controls['code'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Code') : userForm.controls['code'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Code','2') : ''"
                            *ngIf="!userForm.controls['code'].valid&&userForm.controls['code'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Name' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="name" />
                        <p-message severity="error"
                            [text]="userForm.controls['name'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Name') : userForm.controls['name'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Name','2') : ''"
                            *ngIf="!userForm.controls['name'].valid&&userForm.controls['name'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ShortName' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="shortName" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Description' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <textarea pInputTextarea formControlName="description"></textarea>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ContentDetail' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-editor formControlName="contentDetail" [style]="{'height':'320px'}"></p-editor>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Url' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="url" formControlName="url" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ViewCount' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                      <input pInputText type="text" formControlName="viewCount" disabled="disabled" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                      {{'Image' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                      <p-lightbox type="content">
                        <a class="group" href="#">
                          <img alt="{{appSettingsService.apiUrl+ model.item.imagePath}}"
                            src="{{appSettingsService.apiUrl+ model.item.imagePath}}" class="img-thumbnail coverimage" />
                        </a>
                        <img src="{{appSettingsService.apiUrl+ model.item.imagePath}}?date={{model.item.lastModificationTime}}" class="lightboxImage" />
                      </p-lightbox>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'NewImage' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-fileUpload name="file[]" (onSelect)="onFileChange($event)"
                            accept=".jpg,.png,.JPG,.PNG,.jpeg,.JPEG" maxFileSize="5000000" showUploadButton="false"
                            showCancelButton="false" [auto]="true"
                            chooseLabel="{{globalizationDictionaryPipe.transform('Select')}}"
                            invalidFileTypeMessageSummary="{{globalizationMessagesPipe.transform('DangerInvalidUploadJpgPng')}}"
                            invalidFileSizeMessageDetail="{{globalizationMessagesPipe.transform('DangerInvalidFileSize5MB')}}">
                        </p-fileUpload>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Creator' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText disabled="disabled" formControlName="creator" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'CreationTime' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText disabled="disabled" formControlName="creationTime" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'LastModifier' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText disabled="disabled" formControlName="lastModifier" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'LastModificationTime' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText disabled="disabled" formControlName="lastModificationTime" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ApprovalStatus' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-checkbox formControlName="isApproved" binary="true" [(ngModel)]="isApprovedChecked"
                            label="{{isApprovedChecked ? globalizationDictionaryPipe.transform('Approved'):globalizationDictionaryPipe.transform('NotApproved')}}">
                        </p-checkbox>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-10">
                        <button pButton type="button" class="ui-button-raised ui-button-secondary"
                            icon="pi pi-angle-left" iconPos="left" style="width: auto !important;margin: 5px 5px 5px 0;"
                            label="{{'Back' | globalizationdictionary}}" (click)="backClick()"></button>
                        <button pButton type="submit" class="ui-button-raised ui-button-success" icon="pi pi-check"
                            iconPos="left" style="width: auto !important;margin: 5px 5px;"
                            label="{{'Save' | globalizationdictionary}}" [disabled]="!userForm.valid"></button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
