<p-toast [baseZIndex]="99999"></p-toast>
<div class="content-section introduction">
    <div>
        <span class="feature-title">{{'ParameterManagement' | globalizationdictionary}}</span>
        <span>{{'NewRecord' | globalizationdictionary}}</span>
    </div>
</div>
<div class="content-section implementation">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <form [formGroup]="userForm" class="userForm" (ngSubmit)="onSubmit()">
        <fieldset [disabled]="disabledFieldset">
            <legend>{{'NewRecord' | globalizationdictionary}}</legend>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ParameterGroup' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-dropdown [options]="parentItems" formControlName="selectedParentItem"></p-dropdown>
                        <p-message severity="error" text="{{globalizationMessagesByParameter('DangerFieldIsEmpty','ParameterGroup')}}"
                            *ngIf="!userForm.controls['selectedParentItem'].valid&&userForm.controls['selectedParentItem'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Key' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="key" />
                        <p-message severity="error"
                            [text]="userForm.controls['key'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Key') : userForm.controls['key'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Key','2') : ''"
                            *ngIf="!userForm.controls['key'].valid&&userForm.controls['key'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Value' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="text" formControlName="value" />
                        <p-message severity="error"
                            [text]="userForm.controls['value'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Value') : userForm.controls['value'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Value','2') : ''"
                            *ngIf="!userForm.controls['value'].valid&&userForm.controls['value'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Description' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <textarea pInputTextarea formControlName="description"></textarea>
                    </div>
                </div>
                
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'Erasable' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-checkbox formControlName="erasable" binary="true" [(ngModel)]="erasableChecked"
                            label="{{erasableChecked ? globalizationDictionaryPipe.transform('Yes'):globalizationDictionaryPipe.transform('No')}}"></p-checkbox>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                        {{'ApprovalStatus' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <p-checkbox formControlName="isApproved" binary="true" [(ngModel)]="isApprovedChecked"
                            label="{{isApprovedChecked ? globalizationDictionaryPipe.transform('Approved'):globalizationDictionaryPipe.transform('NotApproved')}}"></p-checkbox>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-10">
                        <button pButton type="button" class="ui-button-raised ui-button-secondary"
                            icon="pi pi-angle-left" iconPos="left" style="width: auto !important;margin: 5px 5px 5px 0;"
                            label="{{'Back' | globalizationdictionary}}" (click)="backClick()"></button>
                        <button pButton type="submit" class="ui-button-raised ui-button-success" icon="pi pi-check"
                            iconPos="left" style="width: auto !important;margin: 5px 5px;" label="{{'Save' | globalizationdictionary}}"
                            [disabled]="!userForm.valid"></button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>