<div class="content-section introduction">
    <div>
        <span class="feature-title">{{'UserProfile' | globalizationdictionary}}</span>
        <span>{{'UpdateMyPassword' | globalizationdictionary}}</span>
    </div> 
</div>
<div class="content-section implementation">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <p-toast [baseZIndex]="99999"></p-toast>
    <form [formGroup]="userForm" class="userForm" (ngSubmit)="onSubmit()">
        <fieldset [disabled]="disabledFieldset">
            <legend>{{'UpdateMyPassword' | globalizationdictionary}}</legend>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                            {{'OldPassword' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="password" formControlName="oldPassword" />
                        <p-message severity="error"
                            [text]="userForm.controls['oldPassword'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','OldPassword') : userForm.controls['oldPassword'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','OldPassword','8') : ''"
                            *ngIf="!userForm.controls['oldPassword'].valid&&userForm.controls['oldPassword'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                            {{'Password' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="password" formControlName="password" />
                        <p-message severity="error"
                            [text]="userForm.controls['password'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Password') : userForm.controls['password'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Password','8') : ''"
                            *ngIf="!userForm.controls['password'].valid&&userForm.controls['password'].dirty">
                        </p-message>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 text-right bold">
                            {{'ConfirmPassword' | globalizationdictionary}}
                    </div>
                    <div class="ui-grid-col-10">
                        <input pInputText type="password" formControlName="confirmPassword" />
                        <p-message severity="error"
                            [text]="userForm.controls['confirmPassword'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','ConfirmPassword') : userForm.controls['confirmPassword'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','ConfirmPassword','8') : ''"
                            *ngIf="!userForm.controls['confirmPassword'].valid&&userForm.controls['confirmPassword'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-10">

                            <button pButton type="button" class="ui-button-raised ui-button-secondary" icon="pi pi-angle-left"
                            iconPos="left" style="width: auto !important;margin: 5px 5px 5px 0;" label="{{'Back' | globalizationdictionary}}"
                            (click)="backClick()"></button>

                            <button pButton type="submit" class="ui-button-raised ui-button-success" icon="pi pi-check" iconPos="left"
                            style="width: auto !important;margin: 5px 5px;" label="{{'Save' | globalizationdictionary}}" [disabled]="!userForm.valid"></button>

                    </div>
                </div>
            </div>
        </fieldset>

    </form>
</div>