<p-toast [baseZIndex]="99999"></p-toast>
<div class="content-section introduction">
    <div>
        <span class="feature-title">&nbsp;</span>
        <span>{{'EnterYourUsername' | globalizationmessages}}</span>
    </div>
</div>

<div class="content-section implementation signin-wrapper">
    
    <div class="signindiv">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset [disabled]="disabledFieldset">
                <legend>{{'IForgotMyPassword' | globalizationdictionary}}</legend>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <label>{{'Username' | globalizationdictionary}}</label>
                            <input pInputText type="text" formControlName="username" />
                            <p-message severity="error"
                                *ngIf="!userForm.controls['username'].valid&&userForm.controls['username'].dirty"
                                [text]="globalizationMessagesByParameter('DangerFieldIsEmpty','Username')"></p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button pButton type="submit" class="ui-button-success" label="{{  'Send' | globalizationdictionary }}"
                                [disabled]="!userForm.valid"></button>
                        </div>
                    </div>

                </div>
            </fieldset>
        </form>
        <p *ngIf="loading" style="text-align: center">
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                <br>
                {{'PleaseWait' | globalizationdictionary}}
            </p>

    </div>
</div>