<p style="text-align:center; font-size: 90%">
    <a href="#" [routerLink]="['/Authentication/SignIn']">{{'SignIn' | globalizationdictionary}}</a> | <a href="#"
        [routerLink]="['/Authentication/SignUp']">{{'SignUp' | globalizationdictionary}}</a> | <a href="#"
        [routerLink]="['/Authentication/ForgotPassword']">{{'IForgotMyPassword' | globalizationdictionary}}</a>
</p>
<div class="content-section layout-footer clearfix footer">
    <p>&copy; 2019 {{'ApplicationName' | globalizationdictionary}}. {{'AllRightsReserved' | globalizationdictionary}}.
    </p>
</div>