<p-toast [baseZIndex]="99999"></p-toast>
<p *ngIf="loading" style="text-align: center">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    <br>
    {{'PleaseWait' | globalizationdictionary}}
</p>
<div class="layout-wrapper public-layout-wrapper">
    <div id="layout-topbar">
        <div class="header-container">
            <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
                <i class="fa fa-bars"></i>
            </a>
            <a class="logo" [routerLink]="['/']">
                <img alt="logo" src="assets/showcase/images/logo.png" />
            </a>
            <ul class="topbar-menu">
                <li>
                    <a [routerLink]="['/anasayfa']">Ana Sayfa</a>
                    <a *ngFor="let item of categoryList" [routerLink]="['/sayfalar',item.code]">{{item.name}}</a>
                    <a [routerLink]="['/iletisim']">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">

            <a id="menu_homepage" (click)="toggle(inputmenutitle.id,'/anasayfa')" #inputmenutitle
                [class.active-menuitem]="inputmenutitle.id == activeMenuId" tabindex="0">
                <img src="assets/showcase/images/icons/overlay-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/overlay.svg" class="layout-menu-icon-inactive" />
                <span>Ana Sayfa</span>
            </a>

            <a *ngFor="let item of categoryList" id="menu_{{item.code}}"
                (click)="toggle(inputmenutitle.id,'/sayfalar/'+item.code)" #inputmenutitle
                [class.active-menuitem]="inputmenutitle.id == activeMenuId" tabindex="0">
                <img src="assets/showcase/images/icons/overlay-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/overlay.svg" class="layout-menu-icon-inactive" />
                <span>{{item.name}}</span>
            </a>

            <a id="menu_iletisim" (click)="toggle(inputmenutitle.id,'/iletisim')" #inputmenutitle
                [class.active-menuitem]="inputmenutitle.id == activeMenuId" tabindex="0">
                <img src="assets/showcase/images/icons/overlay-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/overlay.svg" class="layout-menu-icon-inactive" />
                <span>İletişim</span>
            </a>
        </div>
    </div>
    <div class="layout-mask" *ngIf="menuActive">
    </div>
    <div id="layout-content">
        <div class="content-section implementation">
            <div class="body-layout">
                <div class="public-layout-card-inner">
                    <div class="content-area">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section layout-footer clearfix">
            <p class="text-center footer-menu">
                <a [routerLink]="['/anasayfa']">Ana Sayfa</a>
                <a *ngFor="let item of categoryList" [routerLink]="['/sayfalar',item.code]">{{item.name}}</a>
                <a [routerLink]="['/iletisim']">İletişim</a>
            </p>
            <p class="text-center footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p class="footer-text text-center">&copy; 2019 AnkaCMS. Tüm hakları saklıdır.</p>
            <p class="footer-text text-center">Mah Mah. Sok Sok. No:1/A 06000 Çankaya/İstanbul</p>
        </div>
    </div>
</div>