<div class="homecarousel">
    <p-carousel [value]="carouselModel.contents" numVisible="1" circular="true" numScroll="1"
        responsiveOptions="responsiveOptions" autoplayInterval="5000">
        <ng-template let-content pTemplate="item">
            <a title="{{content.name}}" [routerLink]="['/sayfa/kurumsal/'+content.code]">
                <img class="carousel-img"
                src="{{appSettingsService.apiUrl+ content.imagePath}}?date={{carouselModel.lastModificationTime}}" />
            </a>
            
           
        </ng-template>
    </p-carousel>
</div>
<div style="height: 600px;"></div>
