<p-toast [baseZIndex]="99999"></p-toast>
<p *ngIf="loading" style="text-align: center">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    <br>
    {{'PleaseWait' | globalizationdictionary}}
</p>
<div *ngIf="!loading">
    <h1 class="content-page-header">{{pageTitle}}</h1>
    <p-breadcrumb [model]="breadcrumbItems"
        [style]="{'border': 'none', 'font-size':'12px', 'padding-left':'0', 'border-bottom':'1px solid #e9e9e9','border-radius':'0'}">
    </p-breadcrumb>
    <div class="ui-g" style="padding: 20px 0 0 0;">
        <div class="ui-g-12 content-detail-text" style="padding: 0 0 0 0;">
            <div *ngIf="model.description" class="public-content-detail-description">
                <blockquote innerHTML="{{model.description}}" [className]="model.language.code === 'ar' && 'text-arabic'"></blockquote>
            </div>
            <ul>
                <li *ngFor="let item of model.contents">
                    <a [routerLink]="['/sayfalar/'+model.code,item.code]">{{item.name}}</a>
                   
                </li>
            </ul>

        </div>
        
    </div>
</div>